### Description of dataset
* Dataset's name: [Daily Historical Stock Prices (1970 - 2018)](https://www.kaggle.com/ehallmar/daily-historical-stock-prices-1970-2018)
* Description: Historical stock prices for several thousand unique stock tickers

### Import findspark to read SPARK_HOME and HADOOP_HOME

In [32]:
# Import findspark to read SPARK_HOME and HADOOP_HOME
import findspark
import matplotlib.pyplot as plt
findspark.init()

In [33]:
# Import required library
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [34]:
# Print Spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x0A70D670>

### Loading Data using Spark

In [35]:
df = spark.read.csv("D://Documents//Semester_8//Apache-Spark//historical_stock_prices.csv", header=True)

In [36]:
df.show()

+------+----------------+----------------+----------------+----------------+----------------+-------+----------+
|ticker|            open|           close|       adj_close|             low|            high| volume|      date|
+------+----------------+----------------+----------------+----------------+----------------+-------+----------+
|   AHH|            11.5|11.5799999237061|8.49315452575684|           11.25|11.6800003051758|4633900|2013-05-08|
|   AHH|11.6599998474121|11.5500001907349|8.47115135192871|            11.5|11.6599998474121| 275800|2013-05-09|
|   AHH|11.5500001907349|11.6000003814697|8.50782203674316|            11.5|11.6000003814697| 277100|2013-05-10|
|   AHH|11.6300001144409|11.6499996185303|8.54449367523193|11.5500001907349|11.6499996185303| 147400|2013-05-13|
|   AHH|11.6000003814697|11.5299997329712|8.45648384094238|            11.5|11.6000003814697| 184100|2013-05-14|
|   AHH|11.6000003814697|11.6000003814697|8.50782203674316| 11.539999961853|11.6000003814697|  76800|2013-05-15|
|   AHH|11.6199998855591|11.7399997711182|8.61050128936768| 11.539999961853|11.7399997711182| 170300|2013-05-16|
|   AHH|11.6999998092651|11.7600002288818|8.62517166137695|11.6999998092651|11.8500003814697| 305400|2013-05-17|
|   AHH|11.7600002288818|11.7299995422363|8.60316944122314|11.6300001144409|11.8299999237061|  46800|2013-05-20|
|   AHH|11.7600002288818|11.8299999237061|8.67651176452637|11.6099996566772|11.8400001525879|  77000|2013-05-21|
|   AHH|11.8400001525879|           11.75|8.61783981323242|11.6800003051758|11.8400001525879|  90200|2013-05-22|
|   AHH|11.6400003433228|11.6099996566772|8.51515579223633| 11.539999961853| 11.789999961853|  75400|2013-05-23|
|   AHH|11.5699996948242|11.6999998092651|8.58116626739502|11.5500001907349|11.7299995422363|  63400|2013-05-24|
|   AHH|11.7299995422363|11.5799999237061|8.49315452575684|11.5699996948242|11.7799997329712| 212400|2013-05-28|
|   AHH|11.5100002288818|           11.25|8.25112056732178|11.1999998092651|11.6700000762939| 447000|2013-05-29|
|   AHH|11.5799999237061|11.5500001907349|8.47115135192871|11.4700002670288|11.6499996185303| 453300|2013-05-30|
|   AHH|11.6000003814697|11.4700002670288| 8.4124755859375|11.4700002670288|11.8000001907349| 109400|2013-05-31|
|   AHH|11.6800003051758|11.5200004577637| 8.4491491317749|11.3000001907349|11.6800003051758| 143200|2013-06-03|
|   AHH|11.5600004196167|11.5100002288818|8.44181537628174| 11.460000038147|11.6300001144409| 115000|2013-06-04|
|   AHH|11.5799999237061|11.5500001907349|8.47115135192871|           11.25|11.5900001525879|  78100|2013-06-05|
+------+----------------+----------------+----------------+----------------+----------------+-------+----------+
only showing top 20 rows

In [37]:
df.count()

20973889

In [38]:
df.printSchema()

root
 |-- ticker: string (nullable = true)
 |-- open: string (nullable = true)
 |-- close: string (nullable = true)
 |-- adj_close: string (nullable = true)
 |-- low: string (nullable = true)
 |-- high: string (nullable = true)
 |-- volume: string (nullable = true)
 |-- date: string (nullable = true)

In [ ]:
df.createOrReplaceTempView("stock")

In [ ]:
result = spark.sql("SELECT DISTINCT ticker FROM stock")

In [ ]:
result.show()

+------+
|ticker|
+------+
|   MHF|
|   TNP|
|  BAND|
|   PKE|
|  CARS|
|  CBIO|
|  HBNC|
|  ALXN|
|   CRS|
|   EFR|
|   GIS|
|  IDLB|
|   FMY|
|   IHD|
|   TYG|
|   TLI|
|   CCK|
|     K|
|   BOX|
|  MNGA|
+------+
only showing top 20 rows

In [ ]:
result.count()

5685

### Data Mining Process

In [ ]:
### Calculate total transactions for each ticker
query1=spark.sql("select `ticker`, COUNT(`date`) as `total` \
                from stock \
                group by `ticker` \
                order by `total` ASC")

In [ ]:
query1.show()

+------+-----+
|ticker|total|
+------+-----+
| CRUSC|    1|
|   CBX|    2|
| HFGIC|    4|
| MOGLC|    5|
|  PXUS|    6|
| KELYB|    9|
|  FTEO|   10|
| OKDCC|   11|
| LEXEB|   11|
|   EAI|   13|
| FOANC|   13|
| ROSEU|   14|
|  NEBU|   17|
|  DFBH|   19|
|   LHC|   33|
|  LACQ|   36|
|   CBO|   37|
|  PVAL|   38|
|   VAM|   39|
|  CLMT|   40|
+------+-----+
only showing top 20 rows

In [ ]:
### Check data from previous query
spark.sql("select * \
            from stock \
            where `ticker` like 'CRUSC'").show()

In [ ]:
### Calculate total transactions for each year
query2=spark.sql("select substring(`date`,1,4) as `year`, count(`date`) as `total` \
            from stock \
            group by `year` \
            order by `year` ASC")

In [ ]:
query2.show()

In [ ]:
query2.toPandas().plot(x='year',y='total',title='Total transaction per year')

In [ ]:
### Calculate total transaction for each day
query3=spark.sql("select `date`, count(`date`) as `total` \
            from stock \
            group by `date` \
            order by `date` desc")

In [ ]:
query3.show()